html {
  height: 100%;
  overflow: hidden;
}
body{
	background:#141414;
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
#top{
	position: relative;
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.95);
	z-index:2;
}
.head{
	position: relative;
	left:5%;
	top:15%;
	height:20%;
	width:100%;
	font-size:30px;
	font-family:微軟正黑體;
}
.dhead{
	position:relative;
	font-size:20px;
}
#sharebtn{
	position: relative;
	font-size:10px;
	text-align:center;
	width:80px;
	left:600px;
	float:left;
	top:3px;
	font-size:30px;
	display:inline-block;
	background:rgba(255,255,255,0.6);
	border:2px solid rgba(0,0,0,0.85);
}
#sharebtn:hover{
	background:rgba(0,0,255,0.36);
}	
#dtitle{
	position: relative;
	font-size:30px;
	left:-15%;
}
#dcontent{
	position: relative;
	width:75%;
	top:30px;
	left:80px;
	height:auto;
	border:3px solid rgba(0,0,0,0.8);
}
#description{
	position: relative;
	font-size:20px;
	font-family:微軟正黑體;
	left:20%;
	height:80%;
	width:70%;
	top:20%;
}
#vote{
	position: relative;
	text-align:center;
	top:15%;
	width:100%;
	height:50%;
	margin: auto;
	font-family:微軟正黑體;
}
#content{
	position:relative;
	margin:0,0,0,0;
	width:100%;
	margin:auto;
	height:100%;
	background:rgba(255,255,255,0.95);
}
.con{
	position: relative;
	width:100%;
	transform:  translateZ(-1px) scale(1.75);
	background:rgba(255,255,255,0.45);
	z-index:2;
	float:left;
}
#lefth{
	position:relative;
	width:49%;
	display:inline-block;
	padding-right:2%;
	margin-left:1%;
	border-right:3px solid rgba(0,0,0,0.85);
	float:left;
}
#righth{
	position:relative;
	width:49%;
	display:inline-block;
	padding-left:2%;
}
.left{
	position: relative;
	background:rgba(255,0,0,0.5);
	box-shadow:2px 2px 5px rgba(255,0,0,0.3),2px -2px 5px rgba(255,0,0,0.3),-2px -2px 5px rgba(255,0,0,0.3),-2px 2px 5px rgba(255,0,0,0.3);
}
.left:hover{
	background:rgba(255,0,0,0.4);
}
.right{
	position: relative;
	background:rgba(0,0,255,0.5);
	box-shadow:2px 2px 5px rgba(0,0,255,0.3),2px -2px 5px rgba(0,0,255,0.3),-2px -2px 5px rgba(0,0,255,0.3),-2px 2px 5px rgba(0,0,255,0.3);
}
.right:hover{
	background:rgba(0,0,255,0.4);
}
.red{
	position:relative;
	border: 5px solid red; 
    border-radius: 99em;
	left:-20%;
    width:100px;
    height:100px;
	background:rgba(255,0,0,0.5);
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    padding: 15px;
    margin: 0 0 10px 0;
    text-align: center;
	display:inline-block;
	z-index:2px;
}
.red:hover{
	background:rgba(255,0,0,0.3);
	-webkit-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
    -moz-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
    box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
}
.blue{
	position: relative;
	border: 5px solid blue; 
    border-radius: 99em;
	left:20%;
    width:100px;
    height:100px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1),
            0 0 16px rgba(0,0,0,1); 
    padding: 15px;
    background: rgba(0,0,255,0.5);
    margin: 0 0 10px 0;
    text-align: center;
	display:inline-block;
	z-index:2px;
}
.blue:hover{
	background:rgba(0,0,255,0.3);
	-webkit-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
    -moz-box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
    box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.7),
            0 0 20px rgba(0,0,0,0.7); 
}
#votebar{
	position: relative;
	width:50%;
	margin:auto;
	top:40%;
	height:40px;
	border:3px solid rgba(0,0,0,0.5);
	opacity: 0.8;
}
#lbar{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	border-left:2px solid rgba(0,0,0,0.7);
}
