body{
	background:rgba(255,255,0,0.5);
}
#top{
	position: relative;
	height:500px;
}
.head{
	position: relative;
	top:15%;
	left:5%;
	height:20%;
	width:100%;
	font-size:30px;
}
.dhead{
	font-size:20px;
}
#sharebtn{
	position: relative;
	left:40%;
	background:rgba(0,0,255,0.6);
	box-shadow:2px 2px 5px rgba(0,0,255,0.3),2px -2px 5px rgba(0,0,255,0.3),-2px -2px 5px rgba(0,0,255,0.3),-2px 2px 5px rgba(0,0,255,0.3);
}
#dtitle{
	position: relative;
	font-size:30px;
	left:-15%;
}
#dcontent{
	position: relative;
	top:5%;
}
#description{
	position: relative;
	font-size:20px;
	font-family:微軟正黑體;
	top:20%;
	left:20%;
	height:100%;
	width:70%;
}
#vote{
	position: relative;
	width:100%;
}
#content{
	position: relative;
	width:100%;
	display:table;
}
.con{
	position: relative;
	width:100%;
	display:table-row;
}
#lefth{
	width:50%;
	display:table-cell;
}
#righth{
	width:50%;
	display:table-cell;
}
.left{
	position: relative;
	background:rgba(255,0,0,0.5);
	box-shadow:2px 2px 5px rgba(255,0,0,0.3),2px -2px 5px rgba(255,0,0,0.3),-2px -2px 5px rgba(255,0,0,0.3),-2px 2px 5px rgba(255,0,0,0.3);
}
.right{
	position: relative;
	background:rgba(0,0,255,0.5);
	box-shadow:2px 2px 5px rgba(0,0,255,0.3),2px -2px 5px rgba(0,0,255,0.3),-2px -2px 5px rgba(0,0,255,0.3),-2px 2px 5px rgba(0,0,255,0.3);
}
